<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Images/Icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/bundles/bootstrapCss")
    @Styles.Render("~/Content/Future/Css/Index")
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJs")
    @Scripts.Render("~/Content/Future/Js/Index")
    @RenderSection("scripts", required: false)
</body>
</html>